<dx-splitter [width]="500" [height]="400" [separatorSize]="5">
  <dxi-item size="285px">
    <dx-form
      id="form"
      [formData]="employee"
      (onFieldDataChanged)="onFieldDataChanged($event)"
    ></dx-form>
  </dxi-item>
  <dxi-item>
    <dx-splitter orientation="vertical" [separatorSize]="5">
      <dxi-item size="80%">
        @for (item of output; track item) {
        <div>{{ item }}</div>
        }
      </dxi-item>
      <dxi-item [collapsible]="true" minSize="40px">
        <dx-button
          text="Clear all entries"
          (onClick)="resetFormAndOutput()"
        ></dx-button>
      </dxi-item>
      <dxi-item
        [collapsible]="true"
        text="All rights are reserved © 2024"
        maxSize="30px"
      ></dxi-item>
    </dx-splitter>
  </dxi-item>
</dx-splitter>
